dinosaur-jump/tmp/
dinosaur-jump/logs/
dinosaur-jump/.dragonruby/
dinosaur-jump/docs/
dinosaur-jump/samples/
dinosaur-jump/CHANGELOG-CURR.txt
dinosaur-jump/CHANGELOG-PREV.txt
dinosaur-jump/console-logo.png
dinosaur-jump/ctags-emacs
dinosaur-jump/ctags-vim
dinosaur-jump/dragonruby-controller.png
dinosaur-jump/dragonruby.png
